[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "==2.6.1"
scrapy-mongodb = "==0.12.0"
redis = "==4.3.3"
git+https://github.com/jayzeng/scrapy-elasticsearch.git

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.5"
